<h1><%= @user.username%></h1>
<p><%= @user.email%></p>
<h3>Event Created by<%= @user.username%></h3>
<%@user.events.each do |event|%>
Title : <%= event.title%>
Date: <%= event.date%>
Location: <%= event.location%>
Description: <%= event.description%>
<%end%>
