<h1><%= @user.username%></h1>
<p><%= @user.email%></p>

<% if @user.events.count == 0 %>
  <h3> <%= @user.username%> is not currently create any event yet</h3>
<% else %>
<%@user.events.each do |event|%>
Title : <%= event.title%>
Date: <%= event.date%>
Location: <%= event.location%>
Description: <%= event.description%>
<%end%>
<% end %>

<h3>Attended Event</h3>

<%@user.attended_events.each do |event|%>
Title : <%= event.title%>
Date: <%= event.date%>
Location: <%= event.location%>
Description: <%= event.description%>
<%end%>