<h1>All Events</h1>

<%@events.each do |event|%>
Title : <%= event.title%>
Date: <%= event.date%>
Location: <%= event.location%>
Description: <%= event.description%>
Created by : <%= event.creator.username%>
<%end%>
