 
<div class="container">
<div class="invitation-form">
  <%= form_for @invitation do |f| %>
    <% if @invitation.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@invitation.errors.count, "error") %>.
        </div>
        <ul>
          <% @invitation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.label :event, "Select Event here" %>
    <%= f.collection_select(:event_id, Event.all, :id, :title, :include_blank => "Please select an event") %>
    <%= f.label :user, "Select User" %>
    <%= f.collection_select(:user_id, User.all, :id, :username, :include_blank => "Please select a user") %>
    <%= f.submit "Send invitation", class:"action"%>
  <% end %>
</div>
</div>
